<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "name": "{{ page.title }}",
  "description": "{{ page.description }}",
  "brand": {
    "@type": "Brand",
    "name": "Pangan Berkah"
  },
  "offers": {
    "@type": "Offer",
    "priceCurrency": "IDR",
    "price": "{{ page.harga | replace: '.', '' }}",
    "availability": "https://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "Distributor Pangan Berkah"
    }
  }
}
</script>